## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

##SVN
.svn
.svn/*

## PROJECT::GENERAL
coverage
rdoc
pkg
/.bundle
#/.rvmrc
.yardoc
doc

## PROJECT::SPECIFIC
hydra-jetty
