Andrew Myers <andrew_myers@wgbh.org> afred <afredmyers@gmail.com>
Chris Beer <chris@cbeer.info> <cabeer@stanford.edu>
Chris Beer <chris@cbeer.info> <chris@cbeer.info>
Chris Beer <chris@cbeer.info> <chris_beer@wgbh.org>
Chris Colvard <cjcolvar@indiana.edu> cjcolvar <cjcolvar@indiana.edu>
David Chandek-Stark <dchandekstark@gmail.com> dchandekstark <dchandekstark@gmail.com>
Justin Coyne <justin@curationexperts.com> <digger250@gmail.com>
Justin Coyne <justin@curationexperts.com> <justin.coyne@yourmediashelf.com>
Justin Coyne <justin@curationexperts.com> jcoyne <digger250@gmail.com>
Justin Coyne <justin@curationexperts.com> <jcoyne@justincoyne.com>
Jesse Keck <jessie.keck@gmail.com> <jkeck@stanford.edu>
Jesse Keck <jessie.keck@gmail.com> <jessie.keck@gmail.com>
Mark Bussey <mark@curationexperts.com> mark-dce <mark@curationexperts.com>
Matt Zumwalt <matt.zumwalt@yourmediashelf.com> flyingzumwalt <matt.zumwalt@gmail.com>
Richard Johnson <rick.johnson@nd.edu> rickjohnson <rick.johnson@nd.edu>
Richard Johnson <rick.johnson@nd.edu> rjohns14 <rjohns14@LIB-1224.library.nd.edu>
Richard Johnson <rick.johnson@nd.edu> rjohns14@github.com <rjohns14@LIB-1224.library.nd.edu>
Michael B. Klein <mbklein@gmail.com>
