version: 2.1
orbs:
  samvera: samvera/circleci-orb@1.0
jobs:
  bundle_lint_test:
    parameters:
      ruby_version:
        type: string
      bundler_version:
        type: string
        default: 2.3.11
      rails_version:
        type: string
      solr_config_path:
        type: string
        default: lib/generators/active_fedora/config/solr/templates/solr/conf
      ruby_type:
        type: string
        default: 'ruby'
      solr_port:
        type: string
        default: '8985'
      fcrepo_version:
        type: string
        default: "5.1"
      solr_version:
        type: string
        default: "9"
    docker:
      - image: cimg/<< parameters.ruby_type >>:<< parameters.ruby_version >>-browsers
      - image: samvera/fcrepo4:<< parameters.fcrepo_version >>
        environment:
          CATALINA_OPTS: "-Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx1024m -XX:NewSize=256m -XX:MaxNewSize=256m -XX:PermSize=256m -XX:MaxPermSize=256m -XX:+DisableExplicitGC"
      - image: zookeeper:3.9
        environment:
          ZOO_ADMINSERVER_ENABLED: false
      - image: solr:<< parameters.solr_version >>
        environment:
          VERBOSE: yes
          SECURITY_JSON: '{"authentication":{"blockUnknown": false, "class":"solr.BasicAuthPlugin", "credentials":{"solr":"IV0EHq1OnNrj6gvRCwvFwTrZ1+z1oBbnQdiVC3otuq0= Ndd7LKvVBAaZIF0QAVi1ekCfAJXr1GGfLtRUXhgrF8c="}, "realm":"My Solr users", "forwardCredentials": false}, "authorization":{ "class":"solr.RuleBasedAuthorizationPlugin", "permissions":[{"name":"security-edit", "role":"admin"}], "user-role":{"solr":"admin"}}}'
          SOLR_MODULES: "analysis-extras,extraction"
        command: sh -c "server/scripts/cloud-scripts/zkcli.sh -zkhost localhost:2181 -cmd put /security.json \"${SECURITY_JSON}\" && solr-fg -cloud -noprompt  -p << parameters.solr_port >> -z localhost:2181"
    environment:
      BUNDLE_PATH: vendor/bundle
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      RAILS_ENV: test
      RACK_ENV: test
      FCREPO_TEST_PORT: 8080
      SPEC_OPTS: --profile 10 --format RspecJunitFormatter --out /tmp/test-results/rspec.xml --format progress
      RAILS_VERSION: << parameters.rails_version >>
    steps:
      - samvera/cached_checkout
      - checkout
      - run:
          name: Check for 'master' branch
          command: |
              git fetch --all --quiet --prune --prune-tags
              if [[ -n "$(git branch --all --list master */master)" ]]; then
                  echo "A branch named 'master' was found. Please remove it."
                  echo "$(git branch --all --list master */master)"
              fi
              [[ -z "$(git branch --all --list master */master)" ]]

      - samvera/bundle_for_gem:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
          project: 'active-fedora'

      - run:
          name: Install solr core
          command: |
            cd << parameters.solr_config_path >>
            zip -1 -r solr_conf.zip ./*
            curl -H "Content-type:application/octet-stream" --data-binary @solr_conf.zip "http://solr:SolrRocks@127.0.0.1:8985/solr/admin/configs?action=UPLOAD&name=solrconfig"
            curl "http://solr:SolrRocks@127.0.0.1:8985/solr/admin/collections?action=CREATE&name=hydra-test&numShards=1&collection.configName=solrconfig"

      - samvera/rubocop

      - samvera/parallel_rspec

workflows:
  ci:
    jobs:
      # Ruby 3.4 releases
      - bundle_lint_test:
          name: ruby3-4_rails8-0
          ruby_version: 3.4.4
          rails_version: 8.0.2
      # Ruby 3.3 releases
      - bundle_lint_test:
          name: ruby3-3_rails7-2
          ruby_version: 3.3.4
          rails_version: 7.2.0
      - bundle_lint_test:
          name: ruby3-3_rails7-1
          ruby_version: 3.3.4
          rails_version: 7.1.3.4
      - bundle_lint_test:
          name: ruby3-3_rails7-0
          ruby_version: 3.3.4
          rails_version: 7.0.8.4
      - bundle_lint_test:
          name: ruby3-3_rails6-1
          ruby_version: 3.3.4
          rails_version: 6.1.7.8
      # Ruby 3.2 releases
      - bundle_lint_test:
          name: ruby3-2_rails7-1
          ruby_version: 3.2.5
          rails_version: 7.1.3.4
      - bundle_lint_test:
          name: ruby3-2_rails7-0
          ruby_version: 3.2.5
          rails_version: 7.0.8.4
      - bundle_lint_test:
          name: ruby3-2_rails6-1
          ruby_version: 3.2.5
          rails_version: 6.1.7.8
      # Ruby 3.1 releases
      - bundle_lint_test:
          name: ruby3-1_rails7-1
          ruby_version: 3.1.6
          rails_version: 7.1.3.4
      - bundle_lint_test:
          name: ruby3-1_rails7-0
          ruby_version: 3.1.6
          rails_version: 7.0.8.4
      - bundle_lint_test:
          name: ruby3-1_rails6-1
          ruby_version: 3.1.6
          rails_version: 6.1.7.8

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      # Ruby 3.4 releases
      - bundle_lint_test:
          name: ruby3-4_rails8-0
          ruby_version: 3.4.4
          rails_version: 8.0.2
      # Ruby 3.3 releases
      - bundle_lint_test:
          name: ruby3-3_rails7-2
          ruby_version: 3.3.4
          rails_version: 7.2.0
      - bundle_lint_test:
          name: ruby3-3_rails7-1
          ruby_version: 3.3.4
          rails_version: 7.1.3.4
      - bundle_lint_test:
          name: ruby3-3_rails7-0
          ruby_version: 3.3.4
          rails_version: 7.0.8.4
      - bundle_lint_test:
          name: ruby3-3_rails6-1
          ruby_version: 3.3.4
          rails_version: 6.1.7.8
      # Ruby 3.2 releases
      - bundle_lint_test:
          name: ruby3-2_rails7-1
          ruby_version: 3.2.5
          rails_version: 7.1.3.4
      - bundle_lint_test:
          name: ruby3-2_rails7-0
          ruby_version: 3.2.5
          rails_version: 7.0.8.4
      - bundle_lint_test:
          name: ruby3-2_rails6-1
          ruby_version: 3.2.5
          rails_version: 6.1.7.8
      # Ruby 3.1 releases
      - bundle_lint_test:
          name: ruby3-1_rails7-1
          ruby_version: 3.1.6
          rails_version: 7.1.3.4
      - bundle_lint_test:
          name: ruby3-1_rails7-0
          ruby_version: 3.1.6
          rails_version: 7.0.8.4
      - bundle_lint_test:
          name: ruby3-1_rails6-1
          ruby_version: 3.1.6
          rails_version: 6.1.7.8
